.menu-nav .a_propos{
    background-color: #aad4be;
    color : white;
}

.menu-nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /*pour etre sur que rien ne passe sur la barre de navigation*/
}

h1, h2, h4 {
    padding: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5 {
    padding-left: 13px;
}

h4 {
    margin: 0px 100px;
    font-style: italic;
}

h1, h4 {
    text-align: center;
}

.contenu-page{
    padding-left: 0;
}

.mission-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;
}
.img-mission {
    border-radius: 50%;
}

/*------------- CONFIGURATION MODAL -------------*/

/*boutons mission*/
.bouton-modal {
    padding: 10px 10px;
    margin: 20px;
    border: none;
    background: none;
    font-size: 25px;
    display: inline-block;
    cursor: pointer;
}

/*texte affiché en entier sur le site*/
.texte {
    margin-left: 20px;
}

/*qui comprend la zone grisée + la fenetre modale*/
.contenu-modal {
    visibility: hidden; /*on ne veut pas le montrer au tout début*/
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transition: visibility 0.4s; /*permettra de faire une animation fluide*/
}
.contenu-modal.active { /*permettra de le montrer avec le js quand on appuiera sur le bouton*/
    visibility: visible;
}

/*zone grisée en fond*/
.arriere-plan-modal {
    opacity: 0;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #333333d3; /*d3 pour régler l'opacité*/
    transition: opacity 0.4s;
}
.contenu-modal.active .arriere-plan-modal {
    opacity: 1;
}

/*la nouvelle fenetre placée au centre*/
.modal {
    opacity: 0;
    width: 90%;
    max-width: 500px;
    padding: 30px;
    background: white;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); /*permet de grader le modal centré*/
    transition: opacity 0.4s;
}
.contenu-modal.active .modal {
    opacity: 1;
}

.modal h3 {
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500; /*pour l'affiner*/
}


.modal p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*image dans la fenetre modale*/
.image{
    border-radius: 20%;
}

/*------------- FRISE CHRONOLOGIQUE -------------*/

.frise {
    margin: 40px auto;
    width: 80%;
    border-left: 3px solid #aad4be;
    padding-left: 30px;
}

.etape {
    position: relative;
    margin-bottom: 40px;
}

.etape .point {
    width: 15px;
    height: 15px;
    background: #aad4be;
    border-radius: 50%; /*pour faire un cercle*/
    position: absolute;
    left: -38.5px;
    top: 5px;
}

.etape h3 {
    margin: 0;
    font-size: 18px;
    color: #629E85;
}

.etape p {
    margin: 5px 0 0;
}