.menu-nav .contact{
    background-color: #aad4be;
    color : white;
}

.contenu-page{
    padding-bottom: 20px;
}

/*-----FORMULAIRE-----*/
.div-formulaire {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.saisie {
    margin-bottom: 15px;
}

.message-erreur {
    color: #629e85;
    font-size: 0.85em;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none; 
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    max-height: 400px;
    min-height: 17px;
    max-width: 600px;
    min-width: 600px;
}

#btn-envoyer {
    padding: 10px 25px;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    float: right;
    transition: background-color 0.3s;
}
/*--------------------*/

/*-----FENÊTRE MODALE-----*/
.choix-jeu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

#resultat-combat, #messages{
    margin-top: 15px; 
    font-weight: bold;
}

.modale{
    max-width: 600px;
}
/*------------------------*/