@font-face{
    font-family: "Banda";
    src: url(../font/BandaRegular.ttf.woff);
}

@font-face {
    font-family: "Story script";
    src: url(../font/Story_Script/StoryScript-Regular.ttf);
}

@font-face {
    font-family: "Playwrite Norge";
    src: url(../font/Playwrite_NO/PlaywriteNO-VariableFont_wght.ttf);
}

.menu-nav .btn-accueil{
    background-color: #aad4be;
    color : white;
}

.menu-nav {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999; /*pour etre sur que rien ne passe sur la barre de navigation*/
}

.contenu-page{
    padding-left: 0;
}

.banniere{
    opacity: 10.5;
}

#banniere{
    background-image: url(img/bann5.jpg);
    height: 452px;
}

#txt-bann{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-family: "Banda";
    margin-bottom: 0px;
}

#txt2-bann{
    font-size: 13px;
    color: white;
    font-family: "Banda";
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

#img-bann{
    padding-top: 45px;
    display: block;
    margin: auto;
}

.zoom{
    transform: scale(2);
}

#btn-bann{
    background: transparent;
    border-color: white;
    border-radius: 4px;
    display: block;
    margin: auto;
    color: white;
    padding: 10px;
    font-size: 17px;
    border: solid;
}

#btn-bann:hover{
    border-color: #aad4be;
    color: #aad4be;
    cursor: pointer;
    border : solid;
}


/*-----slogan-----*/
#slogan{
    /*text-align: center;*/
    /*margin-right: 10px;
    margin-left: 10px;*/
    white-space: nowrap;
    padding-right: 10px;
    padding-left: 12px;
    font-size: 25px;
    color: #629e85;
    font-family: "Playwrite Norge";
}

#div-slogan{
    display: flex;
    width: 100%;
    height: 50px;
    padding-top: 15px;
}

.spacer {
    flex-grow: 1; /*Aligné au centre par défaut*/
    transition: flex-grow 1.5s ease-in-out;
}

#div-slogan.right .left-spacer{
    flex-grow: 1;
}
#div-slogan.right .right-spacer{
    flex-grow: 0;
}

#div-slogan.left .left-spacer{
    flex-grow: 0;
}
#div-slogan.left .right-spacer{
    flex-grow: 1;
}
/*----------------*/

#div-presentation{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#txt-presentation{
    display: block;
    width: 945px;
    word-break: break-word;
    margin-left: 25px;
    margin-right: auto;
}

#txt-presentation p{
    margin-top: 0px;
    font-size: 17px;
}

#txt-presentation button{
    font-size: 15px;
    background-color: transparent;
    color: #629e85;
    border: 2px solid #aad4be;
    border-radius: 4px;
    padding: 8px 13px;
}

#txt-presentation button:hover{
    background-color: #aad4be;
    color: white;
    
}

#actualites{
    display: flex;
    justify-content: center;
    gap : 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.actu{
    border : 1px solid #aad4be;
    border-radius: 5px;
    width: 200px;
    height: 240px;
    text-align: center;
    padding: 6px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.actu:hover{
    transform: scale(1.04);
}

#titre-presentation, #titre-actualites{
    background-color: #aad4be;
    text-align: center;
    font-size: 24px;
    color: white;
    padding: 10px;
}

#titre-presentation{
    margin-top: 15px;
}

#titre-actualites{
    margin-top: 0px;
}

#video-presentation{
    margin-right: 25px;
    margin-left: auto;
}

.nom-actualite{
    color: #629e85;
}

.description{
    line-height: 22px;
}

.publiee{
    color: #629e85;
    font-size: 12px;
    text-align: right;
}

.p1{
    margin-top: 66px;
    margin-right: 5px;
}

.p2{
    margin-top: 52px;
    margin-right: 5px;
}

.d1{
    margin-top: 35px;
}

.d2{
    margin-top: 27px;
}