@font-face{
    font-family: "Banda";
    src: url(../font/BandaRegular.ttf.woff);
}

@font-face {
    font-family: "Story script";
    src: url(../font/Story_Script/StoryScript-Regular.ttf);
}

@font-face {
    font-family: "Playwrite Norge";
    src: url(../font/Playwrite_NO/PlaywriteNO-VariableFont_wght.ttf);
}

.menu-nav .btn-accueil{
    background-color: #aad4be;
    color : white;
}

.contenu-page{
    padding-left: 0;
}

.banniere{
    opacity: 10.5;
}

#banniere{
    background-image: url(img/bann5.jpg);
    height: 452px;
}

#txt-bann{
    color: white;
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    font-family: "Banda";
    margin-bottom: 0px;
}

#txt2-bann{
    font-size: 13px;
    color: white;
    font-family: "Banda";
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

#img-bann{
    padding-top: 45px;
    display: block;
    margin: auto;
}

.zoom{
    transform: scale(2);
}

#btn-bann{
    background: transparent;
    border-color: white;
    border-radius: 4px;
    display: block;
    margin: auto;
    color: white;
    padding: 10px;
    font-size: 17px;
    border: solid;
}

#btn-bann:hover{
    border-color: #aad4be;
    color: #aad4be;
    cursor: pointer;
    border : solid;
}

#slogan{
    text-align: center;
    font-size: 25px;
    color: #629e85;
    font-family: "Playwrite Norge";
}

.droite{
    
    transition: transform 2s;
}

.gauche{
    transform: translate(0);
    transition: transform 2s;
}